{extend name="layout" /}

{block name="title"}账簿{/block}

{block name="content"}
        <a href="{:url('/')->domain(true)}">< 返回首页</a>
        <center>
            <form action="" method="post">
                <p id="msg" style="display: none;"></p>
                <p><select name="transactMode" id="transactMode"></select></p>
                <p id="txtP"><label for="txt">备注：</label><input type="text" name="txt" id="txt" /></p>
                <p><label for="money">金额：</label><input type="text" name="money" id="money" /></p>
                <p id="loanP"><input type="checkbox" name="loan" id="loan" value="true" /><label for="loan" id="loanL">借出</label></p>
                <p id="nameP" style="display: none;"><label for="name">姓名：</label><input type="text" name="name" id="name" /></p>
                <p id="isFrozenP" style="display: none;"><input type="checkbox" name="isFrozen" id="isFrozen" value="1" /><label for="isFrozen" id="isFrozenL">操作冻结资产</label></p>
                {:token_field()}
                <p><input type="submit" name="send" id="send" value="提交" /></p>
            </form>
            <p id="todayTotal"></p>
            <table border="0"><tbody id="balance"></tbody></table>
            <p>当前时间：<span id="time"></span></p>
        </center>
{/block}

{block name="javascript"}
    <script>
        Date.prototype.Format = function(fmt) {
            var o = {
                "M+" : this.getMonth()+1,
                "d+" : this.getDate(),
                "h+" : this.getHours(),
                "m+" : this.getMinutes(),
                "s+" : this.getSeconds(),
                "q+" : Math.floor((this.getMonth()+3)/3),
                "S"  : this.getMilliseconds()
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("("+ k +")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                }
            }
            return fmt;
        };
        Array.prototype.indexOf = function(val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) return i;
            }
            return -1;
        };
        var updateTime = function() {
            document.getElementById("time").innerHTML = new Date().Format("yyyy-MM-dd hh:mm:ss");
        };
        var newDom = function(tag, id, innerHTML, name, value) {
            var re = document.createElement(tag);
            id !== null && (re.id = id);
            name !== null && (re.name = name);
            value !== null && (re.value = value);
            innerHTML !== null && (tag === "optgroup" ? re.label = innerHTML:re.appendChild(typeof innerHTML === "object" ? innerHTML:document.createTextNode(innerHTML)));
            return re;
        };
        var updateTransactModeList = function(list) {
            var dom = {};
            dom["pay"] = [], dom["sk"] = [], dom["topup"] = [], dom["withdrawal"] = [];
            for (var i in list) {
                if (typeof list[i] === "object") {
                    list[i]["topup"] !== 0 && dom["topup"].push([list[i]["id"], i, list[i]["topup"]]);
                    list[i]["withdrawal"] !== 0 && dom["withdrawal"].push([list[i]["id"], i, list[i]["withdrawal"]]);
                    list[i]["sk"] !== 0 && dom["sk"].push([list[i]["id"], i, list[i]["sk"]]);
                    list[i]["pay"] !== 0 && dom["pay"].push([list[i]["id"], i, list[i]["pay"]]);
                }
            }
            optGroup = {"pay": "支出", "sk": "收入", "topup": "充值", "withdrawal": "提现"};
            opgValue = {"pay": "#tt1_0", "sk": "0_#tt1", "topup": "#tt2_#tt1", "withdrawal": "#tt1_#tt2"};
            for (var transactionType in dom) {
                var tmpOptGroup = newDom("optgroup", null, optGroup[transactionType]);
                for (var id in dom[transactionType]) {
                    tmpOptGroup.appendChild(newDom("option", null, list[dom[transactionType][id][1]]["name"] + optGroup[transactionType], null, opgValue[transactionType].replace(/#tt1/, dom[transactionType][id][0]).replace(/#tt2/, dom[transactionType][id][2])));
                }
                document.getElementById('transactMode').appendChild(tmpOptGroup);
            }
        };
        window.onload = function() {
            updateTime();
            var data = {:json_encode($data, JSON_UNESCAPED_UNICODE)};
            updateTransactModeList(data['transactModeList']);
            document.getElementById('transactMode').onchange = function() {
                var opg = this.value.match(/^(\d+_1|1_\d+)$/) && this.value !== "1_0" && this.value !== "0_1";
                document.getElementById('txtP').style["display"] = opg ? "none" : "block";
                document.getElementById('loanP').style["display"] = opg ? "none" : "block";
                document.getElementById('nameP').style["display"] = opg ? "none" : (document.getElementById('loan').checked && "block");
                document.getElementById('isFrozenP').style["display"] = opg ? "none" : (document.getElementById('isFrozen').checked && "block");
                if (opg) {
                    document.getElementById('txt').value = this.options[this.options.selectedIndex].text;
                } else {
                    document.getElementById('txt').value = "";
                }
                document.getElementById('loanL').innerHTML = this.value.match(/^(\d+_0)$/) ? "借出" : "贷入";
            };
            document.getElementById('loan').onclick = function() {
                if (this.checked) {
                    document.getElementById('nameP').style["display"] = "block";
                    document.getElementById('isFrozenP').style["display"] = "block";
                } else {
                    document.getElementById('nameP').style["display"] = "none";
                    document.getElementById('isFrozenP').style["display"] = "none";
                }
            }
            setInterval(updateTime, 1000);
            var msg = data['msg'];
            var originPostData = data['originPostData'];
            if (msg) {
                document.getElementById('msg').innerHTML = msg;
                document.getElementById('msg').style["display"] = "block";
            }
            if (originPostData) {
                document.getElementById('transactMode').value = originPostData["transactMode"];
                var opg = originPostData["transactMode"].match(/^(\d+_1|1_\d+)$/) && originPostData["transactMode"] !== "1_0" && originPostData["transactMode"] !== "0_1";
                document.getElementById('txtP').style["display"] = opg ? "none" : "block";
                document.getElementById('loanP').style["display"] = opg ? "none" : "block";
                document.getElementById('loanL').innerHTML = originPostData["transactMode"].match(/^(\d+_0)$/) ? "借出" : "贷入";
                if (originPostData["name"]) {
                    document.getElementById('name').value = originPostData["name"];
                    document.getElementById('loan').click();
                    if (originPostData['isFrozen']) {
                        document.getElementById('isFrozen').click();
                    }
                }
                document.getElementById('money').value = Math.abs(parseFloat(originPostData["money"]));
                document.getElementById('txt').value = originPostData["txt"];
            }
            var amount = data['transactModeList'];
            var loanSum = data['loanSum'];
            var todayTotal = data['todayTotal'];
            document.getElementById('todayTotal').innerHTML = "今日总计：<a href=\"chart\" target=\"_blank\">" + parseFloat(todayTotal).toFixed(data['currentCurrency']['scale']) + "</a>";
            var balanceTmp = [];
            var allBalance = 0;
            for (var i in amount) {
                balanceTmp.push('<tr' + ((!~~amount[i]["is_shown"] && !parseFloat(amount[i]["amount"] || 0)) ? ' style="display: none;"' : '') + '><td style="text-align: right">' + amount[i]["name"] + "余额：</td><td><a href=\"transactions?transactMode=" + amount[i]["id"] + "\" target=\"_blank\">" + parseFloat(amount[i]["amount"] || 0).toFixed(data['currentCurrency']['scale']) + "</a></td></tr>");
                allBalance += parseFloat(amount[i]["amount"] || 0);
            };
            balanceTmp.push("<tr><td style=\"text-align: right\">总计：</td><td><a href=\"transactions\" target=\"_blank\">" + parseFloat(allBalance).toFixed(data['currentCurrency']['scale']) + "</a></td></tr>");
            balanceTmp.push("<tr><td style=\"text-align: right\">借款：</td><td><a href=\"loan\" target=\"_blank\">" + parseFloat(loanSum).toFixed(data['currentCurrency']['scale']) + "</a></td></tr>");
            document.getElementById('balance').innerHTML += balanceTmp.join("");
        };
    </script>
{/block}