{extend name="layout" /}

{block name="title"}账簿{/block}

{block name="css"}
    <style>
        ul {
            margin: 5px 0;
        }
    </style>
{/block}

{block name="content"}
        账簿列表：
        <ul>
        {foreach $currencySum as $row}
            <li>{$row['name']} {$row['code']}，余额 {$row['symbol']}{:rtrim(substr($row['amount'], 0, $row['scale'] - 8), '.')} {$row['unit_name']}<br />　<a href="{:url('/accounts/' . $row['code'])->domain(true)}/">管理账目</a>　<a href="{:url('/transactmode/' . $row['code'])->domain(true)}">编辑交易方式</a>
        {/foreach}
        </ul>
        操作：
        <ul>
            <li><a href="{:url('/currency')->domain(true)}">币种管理</a></li>
            <li><a href="{:url('/loan')->domain(true)}">借贷账目</a></li>
            <li><a href="{:url('/transfer')->domain(true)}">资金划转（债权转移、换汇）</a></li>
            <li><a href="{:url('/transfer/request')->domain(true)}">审核请款请求（{$pendingTransferCount} 条待审核）</a></li>
        </ul>
{/block}