{extend name="layout" /}

{block name="title"}借贷账目明细{/block}

{block name="content"}
        <div id="allList"></div>
{/block}

{block name="javascript"}
    <script>
        window.onload = function() {
            var data = {:json_encode($data, JSON_UNESCAPED_UNICODE)};
            var toHtml = "<ol>", sumMoney = 0.00;
            for (var i = 0; i < data.length; i++) {
                toHtml += "<li><a href=\"/loan/detail/" + encodeURIComponent(data[i]["name"]) + "\">" + data[i]["minT"] + " 起共"+(parseFloat(data[i]["all"]) > 0 ? "从" : "向") + " " + data[i]["name"] + " " + (parseFloat(data[i]["all"]) > 0 ? "贷入" : "借出") + " " + Math.abs(parseFloat(data[i]["all"])).toFixed(2) + " 元</a></li>";
                sumMoney += parseFloat(data[i]["all"]);
            }
            document.getElementById('allList').innerHTML = toHtml + "<p>共计 " + sumMoney.toFixed(2) + " 元</p></ol>";
        }
    </script>
{/block}