{extend name="layout" /}

{block name="title"}资金划转 - 账簿{/block}

{block name="css"}
    <style>
        p {
            margin: 3px 0
        }
        ul {
            margin: 3px 0;
        }
    </style>
{/block}

{block name="content"}
        <a href="{:url('/')->domain(true)}">< 返回首页</a>
        <form action="" method="post">
            <p id="msg" style="display: none;"></p>
            <p><label for="localCurrency">本币币种：</label><select name="localCurrency" id="localCurrency"></select></p>
            <p><label for="localTransactionMode">交易方式：</label><select name="localTransactionMode" id="localTransactionMode"></select></p>
            <p id="localLoanUserP"><label for="localLoanUser">交易对象：</label><select name="localLoanUser" id="localLoanUser"><optgroup label="自有资金"><option value="">自有资金</option></optgroup><optgroup id="localLoanUserContainer" label="债权人/债务人"></optgroup></select></p>
            <p id="localIsFrozenP" style="display: none;">　　　　　<input type="checkbox" name="localIsFrozen" id="localIsFrozen" value="1" /><label for="localIsFrozen">操作冻结资产</label></p>
            <p><label>交易方向：</label><label><input type="radio" name="direction" id="directionWithdrawal" value="withdrawal" checked="checked" />出金（交易代收）</label>&nbsp;<label><input type="radio" name="direction" id="directionDeposit" value="deposit" />入金（交易代付）</label></p>
            <p id="localLoanUserP"><label for="localMoney">交易金额：</label><input type="text" name="localMoney" id="localMoney" /></p>
            <hr />
            <p><label for="foreignCurrency">外币币种：</label><select name="foreignCurrency" id="foreignCurrency"></select></p>
            <p id="foreignTransactionModeP" style="display: none;"><label for="foreignTransactionMode">交易方式：</label><select name="foreignTransactionMode" id="foreignTransactionMode"></select></p>
            <p id="foreignLoanUserP"><label for="foreignLoanUser">交易对象：</label><select name="foreignLoanUser" id="foreignLoanUser"><optgroup label="自有资金"><option value="">自有资金</option></optgroup><optgroup id="foreignLoanUserContainer" label="债权人/债务人"></optgroup></select></p>
            <p id="foreignIsFrozenP" style="display: none;">　　　　　<input type="checkbox" name="foreignIsFrozen" id="foreignIsFrozen" value="1" /><label for="foreignIsFrozen">操作冻结资产</label></p>
            <p id="exchangeRateP" style="display: none;"><label for="exchangeRate">参考汇率：</label><br /><span id="exchangeRateForeignCurrency"></span> 100.0000 : <span id="exchangeRateLocalCurrency"></span> <input type="text" id="exchangeRate" style="width: 80px;"/></p>
            <p id="foreignMoneyP" style="display: none;"><label for="foreignMoney">交易金额：</label><input type="text" name="foreignMoney" id="foreignMoney" /></p>
            <hr />
            <p id="txtP"><label for="txt">备注：</label><input type="text" name="txt" id="txt" /></p>
            {:token_field()}
            <div id="preview"><hr /><p>操作预览</p><ul><li>无</li></ul></div>
            <input id="realCommandJson" name="realCommandJson" style="display: none;" value="[]" />
            <p><input type="submit" name="send" id="send" value="提交" /></p>
        </form>
{/block}

{block name="javascript"}
    <script>
        var data = {:json_encode($data, JSON_UNESCAPED_UNICODE)};

        var newDom = function(tag, id, innerHTML, name, value) {
            var re = document.createElement(tag);
            id !== null && (re.id = id);
            name !== null && (re.name = name);
            value !== null && (re.value = value);
            innerHTML !== null && (tag === "optgroup" ? re.label = innerHTML : re.appendChild(typeof innerHTML === "object" ? innerHTML : document.createTextNode(innerHTML)));
            return re;
        };

        var updateTransactionMode = function() {
            var currencyMap = {'localTransactionMode': 'localCurrency', 'foreignTransactionMode': 'foreignCurrency'};
            for (var i = 0; i < arguments.length; i++) {
                document.getElementById(arguments[i]).innerHTML = '';
                var currentCurrency = document.getElementById(currencyMap[arguments[i]]).value;
                for (var j in data['transactmode']) {
                    if (data['transactmode'][j]['currency_code'] === currentCurrency) {
                        document.getElementById(arguments[i]).appendChild(newDom("option", null, data['transactmode'][j]['name'], null, data['transactmode'][j]['id']));
                    }
                }
            }
        };

        var getDirectionValue = function() {
            var radio = document.getElementsByName("direction");
            for (i = 0; i < radio.length; i++) {
                if (radio[i].checked) {
                    return radio[i].value;
                }
            }
        };
        
        var updateExchangeRate = function() {
            if (document.getElementById('localCurrency').value === document.getElementById('foreignCurrency').value) {
                return;
            }
            
            var foreignMoney = document.getElementById('foreignMoney').value,
                localMoney = document.getElementById('localMoney').value,
                exchangeRate = document.getElementById('exchangeRate').value,
                thisDomId = typeof arguments[0] !== 'undefined' ? arguments[0].id : '';

            if (localMoney && foreignMoney && !exchangeRate && thisDomId !== 'exchangeRate') {
                exchangeRate = parseFloat(localMoney) / parseFloat(foreignMoney) * 100;
                document.getElementById('exchangeRate').value = exchangeRate.toFixed(4);
                return;
            }

            if (localMoney && !foreignMoney && exchangeRate && thisDomId !== 'foreignMoney') {
                foreignMoney = parseFloat(localMoney) / parseFloat(exchangeRate) * 100;
                document.getElementById('foreignMoney').value = foreignMoney.toFixed(data['currency'][document.getElementById('foreignCurrency').value]['scale']);
                return;
            }

            if (!localMoney && foreignMoney && exchangeRate && thisDomId !== 'localMoney') {
                localMoney = parseFloat(exchangeRate) * parseFloat(foreignMoney) / 100;
                document.getElementById('localMoney').value = localMoney.toFixed(data['currency'][document.getElementById('localCurrency').value]['scale']);
                return;
            }

            if (localMoney && foreignMoney && exchangeRate) {
                switch (thisDomId) {
                    case 'exchangeRate':
                        foreignMoney = parseFloat(localMoney) / parseFloat(exchangeRate) * 100;
                        document.getElementById('foreignMoney').value = foreignMoney.toFixed(data['currency'][document.getElementById('foreignCurrency').value]['scale']);
                        break;

                    case 'foreignMoney':
                        // no break
                    case 'localMoney':
                        exchangeRate = parseFloat(localMoney) / parseFloat(foreignMoney) * 100;
                        document.getElementById('exchangeRate').value = exchangeRate.toFixed(4);
                        break;

                }
            }
        };

        var updatePreview = function() {
            if (!document.getElementById('localMoney').value) {
                document.getElementById('preview').innerHTML = `<hr /><p>操作预览</p><ul><li>无</li></ul>`;
                return;
            }

            var localCurrency = document.getElementById('localCurrency').value,
                foreignCurrency = document.getElementById('foreignCurrency').value,
                localLoanUser = document.getElementById('localLoanUser').value,
                foreignLoanUser = document.getElementById('foreignLoanUser').value,
                localIsFrozen = document.getElementById('localIsFrozen').checked,
                foreignIsFrozen = document.getElementById('foreignIsFrozen').checked,
                localTransactionModeId = document.getElementById('localTransactionMode').value,
                foreignTransactionModeId = document.getElementById('foreignTransactionMode').value,
                localTransactionMode = data['transactmode'][localTransactionModeId]['name'],
                foreignTransactionMode = data['transactmode'][foreignTransactionModeId]['name'],
                localCurrencyName = data['currency'][localCurrency]['name'],
                foreignCurrencyName = data['currency'][foreignCurrency]['name'],
                localCurrencyCode = data['currency'][localCurrency]['code'],
                foreignCurrencyCode = data['currency'][foreignCurrency]['code'],
                localCurrencySymbol = data['currency'][localCurrency]['symbol'],
                foreignCurrencySymbol = data['currency'][foreignCurrency]['symbol'],
                localCurrencyUnitName = data['currency'][localCurrency]['unit_name'],
                foreignCurrencyUnitName = data['currency'][foreignCurrency]['unit_name'],
                localMoney = document.getElementById('localMoney').value,
                foreignMoney = document.getElementById('foreignMoney').value,
                exchangeRate = document.getElementById('exchangeRate').value,
                fullyFormattedLocalMoney = `${localCurrencyName} ${localCurrencyCode} ${localCurrencySymbol}${localMoney} ${localCurrencyUnitName}`,
                fullyFormattedForeignMoney = `${foreignCurrencyName} ${foreignCurrencyCode} ${foreignCurrencySymbol}${foreignMoney} ${foreignCurrencyUnitName}`,
                simplyFormattedChineseLocalMoney = `${localMoney} ${localCurrencyUnitName}${localCurrencyName}`,
                simplyFormattedChineseForeignMoney = `${foreignMoney} ${foreignCurrencyUnitName}${foreignCurrencyName}`,
                simplyFormattedNonChineseLocalMoney = `${localCurrencySymbol}${localMoney} ${localCurrencyCode}`,
                simplyFormattedNonChineseForeignMoney = `${foreignCurrencySymbol}${foreignMoney} ${foreignCurrencyCode}`,
                fullyFormattedLocalNegativeMoney = `${localCurrencyName} ${localCurrencyCode} -${localCurrencySymbol}${localMoney} ${localCurrencyUnitName}`,
                fullyFormattedForeignNegativeMoney = `${foreignCurrencyName} ${foreignCurrencyCode} -${foreignCurrencySymbol}${foreignMoney} ${foreignCurrencyUnitName}`,
                simplyFormattedChineseLocalNegativeMoney = `-${localMoney} ${localCurrencyUnitName}${localCurrencyName}`,
                simplyFormattedChineseForeignNegativeMoney = `-${foreignMoney} ${foreignCurrencyUnitName}${foreignCurrencyName}`,
                simplyFormattedNonChineseLocalNegativeMoney = `-${localCurrencySymbol}${localMoney} ${localCurrencyCode}`,
                simplyFormattedNonChineseForeignNegativeMoney = `-${localCurrencySymbol}${foreignMoney} ${foreignCurrencyCode}`,
                txt = document.getElementById('txt').value ? `（${document.getElementById('txt').value}）` : '';

            var html = '<hr /><p>操作预览</p><ul>', command = [], realCommand = [], direction = getDirectionValue();
            
            // 划账逻辑示意图 http://naotu.baidu.com/file/e295ff9afb9dfd3ebdd7549ec86f3a4b?token=b15f1daf0c875acb

            if (localCurrency === foreignCurrency) {
                if (localLoanUser) {
                    if (foreignLoanUser) {
                        if (localLoanUser === foreignLoanUser) {
                                if ((localIsFrozen || foreignIsFrozen) && !(localIsFrozen && foreignIsFrozen)) {
                                    if (localIsFrozen) {
                                        if (direction === 'withdrawal') {
                                            command.push('单一债权人/债务人同币种解冻资金');
                                            command.push(`loan 表，${localLoanUser} 资金解冻，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}，标记操作冻结资产`);
                                            command.push(`loan 表，${localLoanUser} 资金解冻，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}`);
                                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `解冻资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 1});
                                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `解冻资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 0});
                                        } else {
                                            command.push('单一债权人/债务人同币种冻结资金，无实际收入/支出');
                                            command.push(`loan 表，${localLoanUser} 资金冻结，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}，标记操作冻结资产`);
                                            command.push(`loan 表，${localLoanUser} 资金冻结，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}`);
                                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `冻结资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 0});
                                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `冻结资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 1});
                                        }
                                    } else {
                                        if (direction === 'withdrawal') {
                                            command.push('单一债权人/债务人同币种冻结资金');
                                            command.push(`loan 表，${localLoanUser} 资金冻结，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}`);
                                            command.push(`loan 表，${localLoanUser} 资金冻结，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}，标记操作冻结资产`);
                                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `冻结资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 0});
                                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `冻结资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 1});
                                        } else {
                                            command.push('单一债权人/债务人同币种解冻资金');
                                            command.push(`loan 表，${localLoanUser} 资金解冻，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}`);
                                            command.push(`loan 表，${localLoanUser} 资金解冻，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}，标记操作冻结资产`);
                                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `解冻资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 1});
                                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `解冻资金${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': 0});
                                        }
                                    }
                                } else {
                                    command.push('同名债权人/债务人不支持在相同币种且相同状态资金下进行操作');
                                }
                        } else {
                            if (direction === 'withdrawal') {
                                command.push('不同债权人/债务人同币种转移债权');
                                command.push(`loan 表，${localLoanUser} 付款至 ${foreignLoanUser}，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，向 ${localLoanUser} 借出，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${foreignLoanUser} 请款自 ${localLoanUser}，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，自 ${foreignLoanUser} 贷入，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `付款至 ${foreignLoanUser}${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                                realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `请款自 ${localLoanUser}${txt}`, 'money': localMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                            } else {
                                command.push('不同债权人/债务人同币种转移债权');
                                command.push(`loan 表，${localLoanUser} 请款自 ${foreignLoanUser}，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，自 ${localLoanUser} 贷入，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${foreignLoanUser} 付款至 ${localLoanUser}，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，向 ${foreignLoanUser} 借出，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `请款自 ${foreignLoanUser}${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                                realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `付款至 ${localLoanUser}${txt}`, 'money': localMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                            }
                        }
                    } else {
                        if (direction === 'withdrawal') {
                            command.push('单一债权人/债务人同币种还款');
                            command.push(`loan 表，${localLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${localLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': txt, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                        } else {
                            command.push('单一债权人/债务人同币种借款');
                            command.push(`loan 表，${localLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${localLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': txt, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                        }
                    }
                } else {
                    if (!foreignLoanUser) {
                        command.push(`自有资金不支持互转操作`);
                    } else {
                        if (direction === 'deposit') {
                            command.push('单一债权人/债务人同币种还款');
                            command.push(`loan 表，${foreignLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${foreignLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': txt, 'money': localMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                        } else {
                            command.push('单一债权人/债务人同币种借款');
                            command.push(`loan 表，${foreignLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${foreignLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': txt, 'money': localMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                        }
                    }
                }
            } else {
                if (!document.getElementById('foreignMoney').value) {
                    document.getElementById('preview').innerHTML = `<hr /><p>操作预览</p><ul><li>无</li></ul>`;
                    return;
                }

                if (direction === 'withdrawal') {
                    if (localLoanUser) {
                        if (foreignLoanUser) {
                            if (localLoanUser === foreignLoanUser) {
                                command.push('单一债权人/债务人购汇');
                                command.push(`loan 表，${localLoanUser} 借款，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 借款，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${localLoanUser} 还款，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 还款，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                                realCommand.push({'mode': `0_${foreignTransactionModeId}`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': foreignMoney, 'name': localLoanUser, 'isFrozen': ~~foreignIsFrozen});
                            } else {
                                command.push('不同债权人/债务人跨币种转移债权');
                                command.push(`loan 表，${localLoanUser} 付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${foreignLoanUser} ，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${foreignLoanUser} ，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${foreignLoanUser} 请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${localLoanUser}，金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${foreignLoanUser} 请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${localLoanUser}，金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${foreignLoanUser} ${txt}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                                realCommand.push({'mode': `0_${foreignTransactionModeId}`, 'txt': `请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${localLoanUser}`, 'money': foreignMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                            }
                        } else {
                            command.push('单一债权人/债务人跨币种还款（还款后使用自有资金购汇，反逻辑慎用）');
                            command.push(`loan 表，${localLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${localLoanUser} 还款，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                            command.push(`transactions 表，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}`);
                            command.push(`transactions 表，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}`);
                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': txt, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                            realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': localMoney, 'name': '', 'isFrozen': 0});
                            realCommand.push({'mode': `0_${foreignTransactionModeId}`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': foreignMoney, 'name': '', 'isFrozen': 0});
                        }
                    } else {
                        command.push(foreignLoanUser ? '单一债权人/债务人跨币种借款（使用自有资金购汇借款）' : '自有资金购汇');
                        command.push(`transactions 表，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}`);
                        command.push(`transactions 表，购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}`);
                        realCommand.push({'mode': `${localTransactionModeId}_0`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': localMoney, 'name': '', 'isFrozen': 0});
                        realCommand.push({'mode': `0_${foreignTransactionModeId}`, 'txt': `购汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': foreignMoney, 'name': '', 'isFrozen': 0});

                        if (foreignLoanUser) {
                            command.push(`loan 表，${foreignLoanUser} 借款，金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${foreignLoanUser} 借款，金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `${foreignTransactionModeId}_0`, 'txt': txt, 'money': foreignMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                        }
                    }
                } else {
                    if (localLoanUser) {
                        if (foreignLoanUser) {
                            if (localLoanUser === foreignLoanUser) {
                                command.push('单一债权人/债务人结汇');
                                command.push(`loan 表，${localLoanUser} 还款，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 还款，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${localLoanUser} 借款，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 借款，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                                realCommand.push({'mode': `${foreignTransactionModeId}_0`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}`, 'money': foreignMoney, 'name': localLoanUser, 'isFrozen': ~~foreignIsFrozen});
                            } else {
                                command.push('不同债权人/债务人跨币种转移债权');
                                command.push(`loan 表，${foreignLoanUser} 付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${localLoanUser}，金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${foreignLoanUser} 付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${localLoanUser}，金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                                command.push(`loan 表，${localLoanUser} 请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${foreignLoanUser} ，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                                command.push(`transactions 表，${localLoanUser} 请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${foreignLoanUser} ，金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                                realCommand.push({'mode': `${foreignTransactionModeId}_0`, 'txt': `付款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）至 ${localLoanUser}`, 'money': foreignMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                                realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `请款 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）自 ${foreignLoanUser}`, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                            }
                        } else {
                            command.push('单一债权人/债务人跨币种借款操作（使用自有资金结汇后借款，反逻辑慎用）');
                            command.push(`transactions 表，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}`);
                            command.push(`transactions 表，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}`);
                            command.push(`loan 表，${localLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${localLoanUser} 借款，金额 ${fullyFormattedLocalNegativeMoney}，交易方式 ${localTransactionMode}${localIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `${foreignTransactionModeId}_0`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': foreignMoney, 'name': '', 'isFrozen': 0});
                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': localMoney, 'name': '', 'isFrozen': 0});
                            realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': txt, 'money': localMoney, 'name': localLoanUser, 'isFrozen': ~~localIsFrozen});
                        }
                    } else {
                        command.push(foreignLoanUser ? '单一债权人/债务人跨币种还款（还款后使用自有资金结汇）' : '自有资金结汇');
                        
                        if (foreignLoanUser) {
                            command.push(`loan 表，${foreignLoanUser} 还款，金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，标记操作冻结资产' : ''}`);
                            command.push(`transactions 表，${foreignLoanUser} 还款，金额 ${fullyFormattedForeignMoney}，交易方式 ${foreignTransactionMode}${foreignIsFrozen ? '，备注操作冻结资产' : ''}`);
                            realCommand.push({'mode': `0_${foreignTransactionModeId}`, 'txt': txt, 'money': foreignMoney, 'name': foreignLoanUser, 'isFrozen': ~~foreignIsFrozen});
                        }

                        command.push(`transactions 表，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedForeignNegativeMoney}，交易方式 ${foreignTransactionMode}`);
                        command.push(`transactions 表，结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}），金额 ${fullyFormattedLocalMoney}，交易方式 ${localTransactionMode}`);
                        realCommand.push({'mode': `${foreignTransactionModeId}_0`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': foreignMoney, 'name': '', 'isFrozen': 0});
                        realCommand.push({'mode': `0_${localTransactionModeId}`, 'txt': `结汇 ${simplyFormattedChineseForeignMoney} （汇率 ${foreignCurrencyCode} 100.0000 = ${localCurrencyCode} ${exchangeRate}）${txt}`, 'money': localMoney, 'name': '', 'isFrozen': 0});
                    }
                }
            }

            document.getElementById('preview').innerHTML = `${html}<li>${command.length ? command.join('</li><li>') : '无'}</li></ul>`;
            document.getElementById('realCommandJson').value = JSON.stringify(realCommand);
        };

        window.onload = function() {
            var currencyDoms = ['localCurrency', 'foreignCurrency'];
            for (var i = 0; i < currencyDoms.length; i++) {
                for (var j in data['currency']) {
                    document.getElementById(currencyDoms[i]).appendChild(newDom("option", null, `${data['currency'][j]['name']} ${data['currency'][j]['code']}`, null, data['currency'][j]['code']));
                }
                document.getElementById(currencyDoms[i]).addEventListener('change', function() {
                    var transactionModeDomMap = {'localCurrency': 'localTransactionMode', 'foreignCurrency': 'foreignTransactionMode'};
                    updateTransactionMode(transactionModeDomMap[this.id]);
                    
                    if (document.getElementById('localCurrency').value !== document.getElementById('foreignCurrency').value) {
                        document.getElementById('foreignTransactionModeP').style.display = 'block';
                        document.getElementById('foreignMoneyP').style.display = 'block';
                        document.getElementById('exchangeRateP').style.display = 'block';
                        document.getElementById('exchangeRateLocalCurrency').innerHTML = document.getElementById('localCurrency').value;
                        document.getElementById('exchangeRateForeignCurrency').innerHTML = document.getElementById('foreignCurrency').value;
                        
                        updatePreview();
                        return;
                    }

                    updatePreview();
                    document.getElementById('foreignTransactionModeP').style.display = 'none';
                    document.getElementById('foreignMoneyP').style.display = 'none';
                    document.getElementById('exchangeRateP').style.display = 'none';
                });
            }

            updateTransactionMode('localTransactionMode', 'foreignTransactionMode');

            var loanUserDoms = ['localLoanUser', 'foreignLoanUser'];
            for (var i = 0; i < loanUserDoms.length; i++) {
                for (var j = 0; j < data['loanUser'].length; j++) {
                    document.getElementById(`${loanUserDoms[i]}Container`).appendChild(newDom("option", null, data['loanUser'][j], null, data['loanUser'][j]));
                }
                var tmpOptionDom = newDom("option", null, '新建', null, '');
                tmpOptionDom.setAttribute('data-create', 'true');
                document.getElementById(`${loanUserDoms[i]}Container`).appendChild(tmpOptionDom);

                document.getElementById(loanUserDoms[i]).addEventListener('change', function() {
                    var isFrozenDomMap = {'localLoanUser': 'localIsFrozenP', 'foreignLoanUser': 'foreignIsFrozenP'};
                    document.getElementById(isFrozenDomMap[this.id]).style.display = (this.value !== '' ? 'block' : 'none');
                    if (this.options[this.options.selectedIndex].getAttribute('data-create') === 'true') {
                        document.getElementById(`${this.id}P`).innerHTML = '';
                        var labelDom = newDom('label', null, '交易对象：');
                        labelDom.appendChild(newDom('input', this.id, null, this.id, ''));
                        document.getElementById(`${this.id}P`).appendChild(labelDom);
                        document.getElementById(isFrozenDomMap[this.id]).style.display = 'block';
                    }
                    updatePreview();
                });
            }

            var moneyDoms = ['localMoney', 'foreignMoney'];
            for (var i = 0; i < moneyDoms.length; i++) {
                document.getElementById(moneyDoms[i]).addEventListener('blur', function() {
                    var currencyMap = {'localMoney': 'localCurrency', 'foreignMoney': 'foreignCurrency'};
                    var scale = data['currency'][document.getElementById(currencyMap[this.id]).value]['scale'];
                    this.value = this.value.replace(/[^\d\.]/g, '').replace(/(\d)(\.)(\d*)(\2*)(\d*)/g, '$1$2$3$5');
                    this.value = this.value ? parseFloat(this.value).toFixed(scale) : '';

                    updateExchangeRate(this);
                    updatePreview();
                });
            }

            document.getElementsByName("direction").forEach(function() {
                this.addEventListener('change', function() {
                    updatePreview();
                });
            });

            // document.getElementById('exchangeRate').addEventListener('focus', function() {
            //     document.getElementById('foreignMoney').value = '';
            // });

            document.getElementById('exchangeRate').addEventListener('blur', function() {
                this.value = this.value.replace(/[^\d\.]/g, '').replace(/(\d)(\.)(\d*)(\2*)(\d*)/g, '$1$2$3$5');
                this.value = this.value ? parseFloat(this.value).toFixed(4) : '';
                // document.getElementById('foreignMoney').value = (document.getElementById('localMoney').value && this.value) ? parseFloat(document.getElementById('localMoney').value) / parseFloat(this.value) * 100 : '';
                // document.getElementById('foreignMoney').dispatchEvent(new Event("blur"));
                updateExchangeRate(this);
                updatePreview();
            });

            var isFrozenDom = ['localIsFrozen', 'foreignIsFrozen'];
            for (var i = 0; i < isFrozenDom.length; i++) {
                document.getElementById(isFrozenDom[i]).addEventListener('click', updatePreview);
            }

            document.getElementById('txt').addEventListener('blur', updatePreview);

            var msg = data['msg'];
            var originPostData = data['originPostData'];
            if (msg) {
                document.getElementById('msg').innerHTML = `${msg}<hr/ >`;
                document.getElementById('msg').style["display"] = "block";
            }
            if (originPostData) {
                document.getElementById(originPostData['direction'] === 'withdrawal' ? 'directionWithdrawal' : 'directionDeposit').click();
                var valueDoms = ['localLoanUser', 'foreignLoanUser', 'localCurrency', 'localTransactionMode', 'localMoney', 'foreignCurrency', 'foreignTransactionMode', 'foreignMoney', 'txt'];
                for (var i = 0; i < 2; i++) {
                    if (data['loanUser'].indexOf(originPostData[valueDoms[i]]) === -1) {
                        document.getElementById(`${valueDoms[i]}Container`).appendChild(newDom("option", null, originPostData[valueDoms[i]], null, originPostData[valueDoms[i]]));
                    }
                }
                for (var i = 0; i < valueDoms.length; i++) {
                    if (typeof originPostData[valueDoms[i]] !== 'undefined') {
                        document.getElementById(valueDoms[i]).value = originPostData[valueDoms[i]];
                        document.getElementById(valueDoms[i]).dispatchEvent(new Event("change"));
                    }
                }
                if (~~originPostData['localIsFrozen']) {
                    document.getElementById('localIsFrozen').click();
                }
                if (~~originPostData['foreignIsFrozen']) {
                    document.getElementById('foreignIsFrozen').click();
                }
                updateExchangeRate();
                updatePreview();
            }
        };
    </script>
{/block}
